@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
      font-family: Roboto, sans-serif;
      margin: 0;
      background-color: #111;
      color: #f5f5f5;
    }

    .container {
      width: 1000px;
      margin: 0 auto;
      padding: 20px;
    }
    h1, p{
        text-align: center;
    }
    .menu {
      background-color: #b71c1c;
      padding: 10px;
    }

    .menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    .menu li {
      margin: 0 15px;
    }

    .menu a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-family: 'Cinzel', serif;
      transition: 0.3s;
    }

    .menu a:hover {
      color: #ffd700; 
    }

    h1, h2 {
      color: #ffd700;
      font-family: 'Cinzel', serif;
    }

    img {
      width: 100%;
      border-radius: 10px;
      display: block;
      margin: 20px auto;
    }

    .filmes {
      display: flex;
      gap: 20px;
      justify-content: space-around;
      
    }

    .card {
      background: #222;
      padding: 15px;
      border-radius: 10px;
      text-align: center;
      flex: 1 1 250px;
    }
    .lancamentos{
      display: flex;
      gap: 20px;
      justify-content: space-around;
      
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
    }

    table, th, td {
      border: 1px solid #444;
    }

    th {
      background-color: #b71c1c;
      color: #fff;
    }

    td, th {
      padding: 10px;
      text-align: center;
    }

    section {
      padding: 50px 0;
      
    }

    footer {
      background-color: #b71c1c;
      color: #fff;
      text-align: center;
      padding: 15px;
      margin-top: 20px;
    }